<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516260711128-dr27b2gam2pfjbdd7u0hafcoe373ihtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516260711128-dr27b2gam2pfjbdd7u0hafcoe373ihtp</string>
	<key>API_KEY</key>
	<string>AIzaSyCPfJRnMa1I2wHeGUyAVbgK5zD-euuFwnA</string>
	<key>GCM_SENDER_ID</key>
	<string>516260711128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emerdeveloper.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-3892b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-3892b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516260711128:ios:b2999363e31e7d931125ad</string>
	<key>DATABASE_URL</key>
	<string>https://chat-3892b.firebaseio.com</string>
</dict>
</plist>